<h1> Sei nella pagina principale della rubrica: che vuoi fare?</h1>
<form action="http://localhost:4200/CountPage">
    <button type="submit">
      Visita CountPage
    </button>  
  </form>
  <form action="http://localhost:4200/SearchPage">
    <button type="submit">
      Visita SearchPage
    </button>  
  </form>
  <form action="http://localhost:4200/MainPage">
    <button type="submit">
      cancella rubrica 
    </button>  
  </form>
  <form action="http://localhost:4200/MainPage">
    <button type="submit">
      aggiungi a rubrica
    </button>  
  </form>

